---
import Layout from '../layouts/Layout.astro';
import Greeting from '../components/Greeting';

---

<Layout title="Welcome to Astro.">
	<h1 style="color:#fff;">my astro demo for me</h1>
	<Greeting client:load messages={['Hi','Hello',"Hey","你好",'Good',"Welcome"]}></Greeting>
</Layout>
